body
				{
					background-color: white;
					margin: 5%;
				}
			p
				{
					color:black;
					display: block;
				}
			h1
				{
					color:black;
					font-size:50px;
					font-style: italic;
					text-align: center;
					font-family: Reprise Stamp;
				}
			h3
				{
					color:red;
					font-size: 25px;
					text-decoration: underline;
					text-align: right;
				}
			.media
				{
					font-family: "American Typewriter";
				}